streamlit
pandas
numpy
yfinance
plotly
feedparser
networkx
requests
scipy
beautifulsoup4
scikit-learn
firebase-admin
extra-streamlit-components==0.1.81
streamlit-oauth
google-auth
google-auth-oauthlib
